<%- include('partials/header') %>

    <body class="full-page">
        <div class="schedule-menubar menubar">
            <a class="menu-item" href="/dashboard">Dashboard</a>
            <a class="menu-item" href="/friends">Friends</a>
            <a class="menu-item">Groups</a>
        </div>
        <a href="/logout" class="signout-button"><i class="fas fa-sign-out-alt"></i></a>
        <div class="schedule-header schedule-setwidth">
            <h1>
                <%=user.name%>'s Schedule
            </h1>
            <p>User ID: <%=user.username%></p>
            <%if (viewOnly) {%>
            <button class="add-course-btn hidden">+</button>
            <%} else {%>
            <button class="add-course-btn ">+</button>
            <%}%>
        </div>
        <div class="schedule schedule-setwidth">
            <table class="schedule schedule-setwidth">
                <thead>
                    <th></th>
                    <th scope="col">Monday</th>
                    <th scope="col">Tuesday</th>
                    <th scope="col">Wednesday</th>
                    <th scope="col">Thursday</th>
                    <th scope="col">Friday</th>
                    <th scope="col">Saturday</th>
                    <th scope="col">Sunday</th>
                </thead>
                <tbody>
                    <tr>
                        <td>8:00 AM</td>
                        <td rowspan="12"></td>
                        <td rowspan="12"></td>
                        <td rowspan="12"></td>
                        <td rowspan="12"></td>
                        <td rowspan="12"></td>
                        <td rowspan="12"></td>
                        <td rowspan="12"></td>

                    </tr>
                    <tr>
                        <td>9:00 AM</td>
                    </tr>
                    <tr>
                        <td>10:00 AM</td>
                    </tr>
                    <tr>
                        <td>11:00 AM</td>
                    </tr>
                    <tr>
                        <td>12:00 PM</td>
                    </tr>
                    <tr>
                        <td>1:00 PM</td>
                    </tr>
                    <tr>
                        <td>2:00 PM</td>
                    </tr>
                    <tr>
                        <td>3:00 PM</td>
                    </tr>
                    <tr>
                        <td>4:00 PM</td>
                    </tr>
                    <tr>
                        <td>5:00 PM</td>
                    </tr>
                    <tr>
                        <td>6:00 PM</td>
                    </tr>
                    <tr>
                </tbody>
            </table>
            <% user.classes.forEach((element, index)=> {%>
                <% element.days.forEach((el)=> {%>
                    <div class="schedule-block <%=el%>"
                        style="height:<%=(element.numEndTime - element.numStartTime)/60 * 52%>px; top:<%=28 + (element.numStartTime - 480)/60*52%>px; background-color:rgba(<%=colors[index]%>, 0.4);">
                        <p>
                            <%=element.className%>
                        </p>
                        <p class="hidden days">
                            <%=element.days%>
                        </p>
                        <p class="hidden startTime">
                            <%=element.startTime%>
                        </p>
                        <p class="hidden endTime">
                            <%=element.endTime%>
                        </p>
                        <p class="hidden room">
                            <%=element.room%>
                        </p>
                        <p class="hidden prof">
                            <%=element.prof%>
                        </p>
                    </div>
                    <%})%>
                        <%});%>
        </div>
        <div class="hover add-class hidden">
            <h2>Add New Class</h2>
            <form action="/dashboard" method="post">
                <p>x</p>
                <label>Class Name: </label>
                <input type="text" name="className" required maxlength="60"><br>
                <label>Start Time: </label>
                <input type="time" name="startTime" required min="08:00" max="19:00" step="600"><br>
                <label>End Time: </label>
                <input type="time" name="endTime" required min="08:00" max="19:00" step="600">
                <br>
                <div class="checkbox-day">
                    <label>Sun</label><br>
                    <input type="checkbox" name="sunday" class="checkboxday">
                </div>
                <div class="checkbox-day">
                    <label>Mon</label><br>
                    <input type="checkbox" name="monday" class="checkboxday">
                </div>
                <div class="checkbox-day">
                    <label>Tue</label><br>
                    <input type="checkbox" name="tuesday" class="checkboxday">
                </div>
                <div class="checkbox-day">
                    <label>Wed</label><br>
                    <input type="checkbox" name="wednesday" class="checkboxday">
                </div>
                <div class="checkbox-day">
                    <label>Thu</label><br>
                    <input type="checkbox" name="thursday" class="checkboxday">
                </div>
                <div class="checkbox-day">
                    <label>Fri</label><br>
                    <input type="checkbox" name="friday" class="checkboxday">
                </div>
                <div class="checkbox-day">
                    <label>Sat</label><br>
                    <input type="checkbox" name="saturday" class="checkboxday">
                </div><br>
                <label>Room: </label>
                <input type="text" name="room" placeholder="(optional)"><br>
                <label>Instructor: </label>
                <input type="text" name="prof" placeholder="(optional)"><br>
                <button type="submit">Add</button>
            </form>
        </div>
        <div class="hover edit-class hidden">
            <p>x</p>
            <%if (viewOnly) {%>
                <i class="fas fa-edit hidden"></i>
            <%}else{%>
                <i class="fas fa-edit"></i>
            <%}%> 
            <h2></h2>
            <p class="days"></p>
            <p class="time"></p>
            <p class="room"></p>
            <p class="prof"></p>
            <p class="hidden start-time"></p>
            <p class="hidden end-time"></p>
            <%if (!viewOnly) {%>
                <form method="post" action="/delete">
                    <input type="text" class="hidden" name="className" id="className">
                    <button type="submit" class="delete">Delete Class</button>
                </form>
            <%}%>
        </div>
        <div class="hover editor hidden">
            <h2>Edit Class</h2>
            <form method="post" action="/edit">
                <p>x</p>
                <input type="text" class="hidden" name="oldClassName" id="oldClassName">
                <label>Class Name: </label>
                <input type="text" name="className" id="className" required><br>
                <label>Start Time: </label>
                <input type="time" name="startTime" id="startTime" required in="08:00" max="19:00" step="600"><br>
                <label>End Time: </label>
                <input type="time" name="endTime" id="endTime" required min="08:00" max="19:00" step="600">
                <br>
                <div class="edit-day">
                    <label>Sun</label><br>
                    <input type="checkbox" name="sunday" class="editday" >
                </div>
                <div class="edit-day">
                    <label>Mon</label><br>
                    <input type="checkbox" name="monday" class="editday">
                </div>
                <div class="edit-day">
                    <label>Tue</label><br>
                    <input type="checkbox" name="tuesday" class="editday">
                </div>
                <div class="edit-day">
                    <label>Wed</label><br>
                    <input type="checkbox" name="wednesday" class="editday">
                </div>
                <div class="edit-day">
                    <label>Thu</label><br>
                    <input type="checkbox" name="thursday" class="editday">
                </div>
                <div class="edit-day">
                    <label>Fri</label><br>
                    <input type="checkbox" name="friday" class="editday"   >
                </div>
                <div class="edit-day">
                    <label>Sat</label><br>
                    <input type="checkbox" name="saturday" class="editday"   >
                </div><br>
                <label>Room: </label>
                <input type="text" name="room" id="room" placeholder="(none)"><br>
                <label>Instructor: </label>
                <input type="text" name="prof" id="prof" placeholder="(none)"><br>
                <button type="submit">Edit</button>
            </form>
        </div>
        <div class="fullscreen hidden"></div>

        <script>
            // Full-screen div to click out of hover panes
            document.querySelector('.fullscreen').addEventListener('click', function () {
                document.querySelector('.hover.add-class').classList.add('hidden');
                document.querySelector('.hover.edit-class').classList.add('hidden');
                document.querySelector('.hover.editor').classList.add('hidden');
                document.querySelector('.fullscreen').classList.add('hidden');
            })

            // Add Course Button Pane
            document.querySelector('.add-course-btn').addEventListener("click", function () {
                document.querySelector('.hover.add-class').classList.remove('hidden');
                document.querySelector('.fullscreen').classList.remove('hidden');
            })

            // 'x' button hide panes
            document.querySelector('.add-class p:first-child').addEventListener("click", function () {
                document.querySelector('.hover.add-class').classList.add('hidden');
                document.querySelector('.fullscreen').classList.add('hidden');
            })
            document.querySelector('.edit-class p:first-child').addEventListener("click", function () {
                document.querySelector('.hover.edit-class').classList.add('hidden');
                document.querySelector('.fullscreen').classList.add('hidden');
            })
            document.querySelector('.editor p:first-child').addEventListener("click", function () {
                document.querySelector('.hover.editor').classList.add('hidden');
                document.querySelector('.fullscreen').classList.add('hidden');
            })

            // Open detail pane when clicking on calendar
            document.querySelectorAll(".schedule-block").forEach((element) => {
                element.addEventListener("click", function () {
                    const editPanel = document.querySelector('.hover.edit-class');
                    editPanel.classList.remove('hidden');
                    document.querySelector('.fullscreen').classList.remove('hidden');
                    editPanel.querySelector('h2').innerHTML = element.querySelector('p').innerHTML;
                    editPanel.querySelector('.time').innerHTML = `Time: ${element.querySelector('.startTime').innerHTML} - ${element.querySelector('.endTime').innerHTML}`
                    editPanel.querySelector('.days').innerHTML = "Days: " + element.querySelector('.days').innerHTML.replace(new RegExp(',', 'g'), ', ');

                    if (element.querySelector('.room').innerHTML.trim().length > 0) {
                        editPanel.querySelector('.room').innerHTML = "Room: " + element.querySelector('.room').innerHTML;
                    }
                    else {
                        editPanel.querySelector('.room').innerHTML = "Room: Unspecified";
                    }
                    if (element.querySelector('.prof').innerHTML.trim().length > 0) {
                        editPanel.querySelector('.prof').innerHTML = "Instructor: " + element.querySelector('.prof').innerHTML;
                    }
                    else {
                        editPanel.querySelector('.prof').innerHTML = "Instructor: Unspecified";
                    }
                    editPanel.querySelector(".hidden.start-time").innerHTML = element.querySelector('.startTime').innerHTML;
                    editPanel.querySelector(".hidden.end-time").innerHTML = element.querySelector('.endTime').innerHTML;
                    editPanel.querySelector("#className").value = editPanel.querySelector("h2").innerHTML.trim();
                });
            })

            // Opening edit form
            document.querySelector('.edit-class .fa-edit').addEventListener('click', function () {
                const parent = this.parentElement;
                document.querySelector('.edit-class').classList.add('hidden');
                const editPane = document.querySelector(".hover.editor");
                editPane.classList.remove("hidden");
                editPane.querySelector("#oldClassName").value = parent.querySelector('h2').innerHTML.trim();
                editPane.querySelector("#className").value = parent.querySelector('h2').innerHTML.trim();
                let startTime = parent.querySelector(".start-time").innerHTML.trim();
                let isPM = startTime.includes("PM") && startTime.substring(0, 2) != "12";
                startTime = startTime.substring(0, 5).trim();
                if (startTime.length < 5) {
                    startTime = "0" + startTime;
                }
                if (isPM) {
                    let hour = startTime.substring(0, 2);
                    startTime = `${parseInt(hour) + 12}${startTime.substring(2)}`;
                }
                editPane.querySelector("#startTime").value = startTime;
                let endTime = parent.querySelector(".end-time").innerHTML.trim();
                isPM = endTime.includes("PM") && endTime.substring(0, 2) != "12";
                endTime = endTime.substring(0, 5).trim();
                if (endTime.length < 5) {
                    endTime = "0" + endTime;
                }
                if (isPM) {
                    let hour = endTime.substring(0, 2);
                    endTime = `${parseInt(hour) + 12}${endTime.substring(2)}`;
                }
                editPane.querySelector("#endTime").value = endTime;
                editPane.querySelectorAll('.edit-day input').forEach((element) => {
                    if (parent.querySelector('.days').innerHTML.includes(element.name)) {
                        element.checked = true;
                    }
                })
                let roomText = parent.querySelector(".room").innerHTML;
                if (!roomText.includes('Unspecified')) {
                    editPane.querySelector("#room").value = roomText.substring(roomText.indexOf("Room: ") + 6).trim();
                }
                let profText = parent.querySelector(".prof").innerHTML;
                if (!profText.includes('Unspecified')) {
                    editPane.querySelector("#prof").value = profText.substring(profText.indexOf("Instructor: ") + 12).trim();
                }
            })

            // Require at least one checkbox
            function deRequireCb(boxClass) {
                let boxes = Array.prototype.slice.call(document.getElementsByClassName(boxClass));
                let oneChecked = false;
                boxes.forEach((element) => {
                    if (element.checked) {
                        oneChecked = true;
                    }
                })
                if (oneChecked) {
                    boxes[0].required = false;
                    boxes[0].removeAttribute('oninvalid');
                } else {
                    boxes[0].required = true;
                    boxes[0].setAttribute('oninvalid', "this.setCustomValidity('Select at least one weekday')");
                }
                console.log(boxes[0].oninvalid);
                //Warning persists
            }

        </script>
        <%- include('partials/footer') %>